$font-family:"Poppins", sans-serif;
$font-family-secondary: "Inter", sans-serif;
$medium-font-size: 1.2rem;
$normal-font-size: 1rem;
$body-font-size: 18px;
$small-font-size: 0.875rem;
$smaller-font-size: 0.813rem;
$tiny-font-size: 0.625rem;
$primary-color:rgb(85, 112, 241);
$secondary-color:rgb(255, 204, 145);
$black-color:rgb(28, 29, 34);
$action-green-color:rgb(81, 156, 102);
$action-red-color:rgb(204, 95, 95);
$main-background-color:rgb(244, 245, 250);
$background-color:rgb(238, 240, 250);
$different-icon-color:rgba(255, 204, 145,0.16)
