@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.main {
  height: 100%;
  .sidebar-drawer {
    .MuiToolbar-root {
      padding: 0;
      min-height: 64px;
    }
    .sidebar-header-wrapper {
      padding: 14px 19px;
    }
  }
  .sidebar-drawer {
    .MuiIconButton-root {
      color: $black-color;
      margin-right: 0;
      margin-top: 6px;
    }
  }
  .menu-list-wrapper {
    padding: 0 32px;
    margin-top: 62px;
    .menu-list-item-wrapper {
      padding: 0px 16px;
      .active-button {
        background-color: $primary-color;
        .MuiListItemIcon-root {
          color: white;
        }
        .MuiListItemText-root {
          span {
            color: white;
          }
        }
      }
      .menu-list-item {
        display: flex;
        gap: 16px;
        padding: 16px 20px;
      }
      .MuiListItemIcon-root {
        margin-right: 0;
      }
    }
    .MuiListItemButton-root {
      padding: 0;
      border-radius: 12px;
      height: 56px;
    }
  }
  .logo-wrapper {
    flex-grow: 1;
    @include center-align;
    gap: 5px;
  }
  .logo-image-wrapper {
    display: flex;
    align-items: flex-end;
    margin-top: 6px;
    padding: 0px;
    margin-left: 18px;
  }
  .dashboard-wrapper {
    flex-grow: 1;
    padding: 28px 19px;
    background-color: $background-color;
  }
}

@media (min-width: 600px) {
  .main {
    .sidebar-drawer {
      .MuiToolbar-root {
        padding: 0;
        min-height: 64px;
      }
      .sidebar-header-wrapper {
        padding: 14px 19px;
        // padding: 0;
      }
    }

    .menu-list-wrapper {
      padding: 0;
    }
    .drawer-wrapper-hidden {
      .MuiPaper-elevation {
        width: 88px;
        border: 0;
      }
    }
    .drawer-wrapper-shown {
      .MuiPaper-elevation {
        border: 0;
      }
    }
  }
}
